body {
    background-color:#111;
}
#par{
    position:absolute ;
    left:50%;
    top:20%;
    transform:translate(-50%);
    border:3px solid #999;
    padding:20px;
    border-radius:9px;
    background-color:#222;
    height:335px;
    width:255px;
}
button{
    width:50px;
    height:40px;
    margin:10px 5px 5px 5px;
    background-color:#444;
    border:none;
    color:#c0c0c0;
    outline:none;
    background-color:#473;
}
button:hover{
    background-color:#333;
}
#i0{

    height:230xp;
    margin:none;
}
#result{
    width:233px;
    height:20px;
    border:3px solid #999;
    border-radius:9px;
    padding:15px 0px 15px 10px;
    color:#000;
    margin-bottom:10px;
    display:block;
    background-color:white;
}
#f{
    width:115px;
}
h1{
    text-align:center;
    color:#473;
    font-family:serif;
    font-size:30px;
}
button.plus{
    background-color:#d28;
}
#ty{
    background-color:#f80;
    height:230xp;
    margin:none ;
    
}
#divide{
    background-color:#d28;
}
#minus{
    background-color:#d28;
}
#times{
    background-color:#d28;
}
#del{
    background-color:white;
    color:black;
}
